<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.kabirnayeem99.dumarketingadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DuMarketingAdminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.DUMarketingAdmin">
        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.auth.AuthActivity"
            android:exported="true"
            android:immersive="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.activities.information.InformationActivity"
            android:exported="false"
            android:label="About Info"
            android:parentActivityName="io.github.kabirnayeem99.dumarketingadmin.presentation.view.dashboard.DashboardActivity" />
        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.activities.notice.NoticeActivity"
            android:exported="false"
            android:label="Notices"
            android:parentActivityName="io.github.kabirnayeem99.dumarketingadmin.presentation.view.dashboard.DashboardActivity" />
        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.activities.faculty.FacultyActivity"
            android:exported="false"
            android:label="Faculty Members"
            android:parentActivityName="io.github.kabirnayeem99.dumarketingadmin.presentation.view.dashboard.DashboardActivity" />
        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.activities.faculty.UpsertFacultyActivity"
            android:exported="false"
            android:label="Edit Faculty Member"
            android:parentActivityName="io.github.kabirnayeem99.dumarketingadmin.presentation.view.activities.faculty.FacultyActivity" />
        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.activities.notice.AddNoticeActivity"
            android:exported="false"
            android:label="Add Notice"
            android:parentActivityName="io.github.kabirnayeem99.dumarketingadmin.presentation.view.dashboard.DashboardActivity" />
        <activity
            android:name="io.github.kabirnayeem99.dumarketingadmin.presentation.view.dashboard.DashboardActivity"
            android:exported="false" />

    </application>

</manifest>